/* Seções */

/* Início - Seções */

#inicio {
  max-width: 1440px;
}

#inicio .row {
  margin-top: 80px;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  #inicio p.h1 br {
    display: none;
  }
}

/* Sobre mim - Seções */

#sobre-mim .row div {
  border: 1px solid var(--abbey);
  border-radius: 7.6px;
}

/* Projetos - Seções */

#projetos .row div {
  background: var(--ebony-clay);
  border-radius: 7.6px;
}

.accordion-button {
  box-shadow: none !important;
  margin: 0;
}

.badge {
  background: #3E3A97;
  margin: 6px 0;
  padding: 9px 12px;
}
